**/migrations/
**/__pycache__/
**/Отчет_UI.pdf
**/assets/
**/test.sql
**/taknedelat.*
**/media/boxUZI/
**/media/originalUZI/
**/media/segUZI/
**/model/unused/
**/nnapi/research/
**/media/
images/
tiff2png.py
**/Dockerfile (copy)
**/media.zip
kubernetes-*.yaml
data/
backups/
tifImages/
research.zip
cascade.zip
r.txt
e.sh
entrypoint2.sh
a.txt
Readme_t.md
todo.txt
docker-compose.prod_1.yml
metrics/example.log
db/
**/*.ipynb
test.json